/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
/*Default text is Arial font with Verdana as a fallback option
Black background (use hexadecimal values)
White font (use hexadecimal values)
Margin of 20px on the top and sides.  None on the bottom.*/

	line-height: 1;
	font-family: Arial, Verdana;
	background-color: #000000;
	color: #FFFFFF;
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 20px;

}
h1 {
/* 42px centered font 
Padding of 15px*/
	text-align: center;
	font-size: 42px;
	padding: 15px;
}

h2 {
/* 30px dark gray font (#0D0D0D) */
	color: #0D0D0D;
	font-size: 30px;
}

p {
/* 24px font
Padding of 10px on the top and left only */
	font-size: 24px;
	padding-top: 10px;
	padding-left: 10px;
}

img {
/*All images are 250px wide  (do not set a height)
All images are centered 
All images have a white 10px dashed border*/
	width: 250px;
	margin: auto;
	display: block;
	border: 10px;
	border-color: #FFFFFF;
	border-style: dashed;

}

div {
/*A flexible height of at least 125px tall 
Padding of 20px on all sides
A 3px solid white border on all sides.*/
	border: 2px solid #FFFFFF;
	padding: 20px;
	min-height: 125px;

}

.introduction {
/*15px border-radius (to curve the edges)
Margin of 15px margin on the top
Double-spaced text*/
	margin-top: 15px;
	line-height: 2; 
	border-radius: 15px;
	
}

.red {
/*Background color is hexadecimal value for red
Text is aligned on the right side 
A left margin of 50px;
A  border of 2px on the bottom and 5px on the left;*/
	background-color: #ff0000;
	margin-left: 50px;
	border-bottom: 2px solid #FFFFFF; 
	border-left: 5px solid #FFFFFF;
	border-right: 0px;
	border-top: 0px;
	text-align: right;

}

.blue {
/*Background color is hex value for blue
Text is aligned on the left side
A right margin of 50px;
A  border of 5px on the right and 2px on the top;*/
	background-color: #0000ff;
	text-align: left;
	margin-right: 50px;
	border-top: 2px solid #FFFFFF; 
	border-right: 5px solid #FFFFFF;
	border-left: 0px;
	border-bottom: 0px;
	color: #C4C4C4;

}

.blue h2 {
	color: #C4C4C4;
  }

.yellow {
	/*Background color is hexadecimal value for yellow 
Text is aligned on the right side
A left margin of 50px;
A border of 2px on the bottom and 5px on the left;*/
		background-color: #ffff00;
		text-align: right;
		margin-left: 50px;
		border-bottom: 2px solid #FFFFFF; 
		border-left: 5px solid #FFFFFF;
		border-right: 0px;
		border-top: 0px;
		color: #707070
	
	}

.green {
/*The background color is a hexadecimal value for green  (You must use #00EB00, #008500, or #00D800)
Text is aligned on the left side
A right margin of 50px;
A  border of 5px on the right and 2px on the top;*/
	background-color: #008500;
	text-align: left;
	margin-right: 50px;
	border-top: 2px solid #FFFFFF; 
	border-right: 5px solid #FFFFFF;
	border-left: 0px;
	border-bottom: 0px;

}


footer {
/*a gradient background that starts at #000000, goes to #0000ff at 25,  #0066ff at 70, and ends back at #000000.
A 5px solid white border.
20px text that is aligned to the right.
Padding of 15px on the top, right, and bottom only. (No padding on the left.)*/
	border: 5px solid #FFFFFF;
	background: linear-gradient(90deg, #000000 0%, #0000ff 25%, #0066ff 70%, #000000 100%);
	
}

footer p {
/*20px text that is aligned to the right.
Padding of 15px on the top, right, and bottom only. (No padding on the left.)*/
	font-size: 20px;
	text-align: right; 
	padding: 15px 15px 15px 0; 
  }


ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}